<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.steven.order.mapper.OrderMapper">




    <select id="selectOrder" resultType="com.steven.order.pojo.Orders">

        select * from orders where userid = #{userid}

    </select>

    <update id="updateScore" parameterType="com.steven.order.pojo.Orders">

        update orders set score = #{score} where userid = #{userid}

    </update>


    <insert id="save" parameterType="com.steven.order.pojo.Orders">

        insert into orders(userid,score) values (#{order.userId},#{order.score})

    </insert>

</mapper>